<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= message %></h1>
    <form action="/" enctype="multipart/form-data" method="POST">
      <label for="file">Select File</label>
      <br>
      <input id="file" name="file" type="file" />
      <br>
      <button type="submit">Send</button>
    </form>
  </body>
</html>
