<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script type="module" src="/public/index.js" defer></script>
  </head>
  <body>
    <div>
      <label for="video-quality">Video ID</label>
      <select name="video-id" id="video-id"></select>
    </div>
    <div>
      <label for="video-quality">Video Quality</label>
      <select name="video-quality" id="video-quality">
        <option value="240p">240p</option>
        <option value="480p">480p</option>
        <option value="720p">720p</option>
      </select>
    </div>
    <div>
      <label for="audio-quality">Video Quality</label>
      <select name="audio-quality" id="audio-quality" value="1">
        <option value="audio64">64kbps</option>
        <option value="audio128">128kbps</option>
      </select>
    </div>
    <video
      style="width: 100%; height: auto; max-height: 80vh"
      id="viewer"
      autoplay
      controls
    ></video>
  </body>
</html>
